.Collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: var(--border-divider);
  padding-left: 6px;
}

.Collapse__Button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: var(--text);
}

.Collapse__Content {
  margin-top: 12px;
}