.RetryLaterModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 480px;
  background: var(--white);
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  z-index: 10;
}

.RetryLaterModal__Icon {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}

.RetryLaterModal__Icon > path {
  fill: var(--error);
}

.RetryLaterModal__Content_Text {
  line-height: 24px;
}

.RetryLaterModal__Close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
}